{:type :ok, :f :write, :value [4 162], :process 0, :time 0, :position 0, :link nil, :index 0}
{:type :ok, :f :read, :value [4 162], :process 1, :time 1, :position 1, :link nil, :index 1}
{:type :ok, :f :write, :value [4 195], :process 1, :time 2, :position 2, :link nil, :index 2}
{:type :ok, :f :read, :value [4 162], :process 2, :time 3, :position 3, :link nil, :index 3}