{:type :ok, :f :write, :value [y 1], :process 0, :time 1, :position 1, :link nil, :index 0}
{:type :ok, :f :read, :value [f 1], :process 0, :time 2, :position 2, :link nil, :index 1}
{:type :ok, :f :read, :value [c 1], :process 0, :time 3, :position 3, :link nil, :index 2}
{:type :ok, :f :read, :value [z 1], :process 0, :time 4, :position 4, :link nil, :index 3}
{:type :ok, :f :read, :value [y 1], :process 0, :time 5, :position 5, :link nil, :index 4}
{:type :ok, :f :read, :value [a 1], :process 0, :time 6, :position 6, :link nil, :index 5}
{:type :ok, :f :read, :value [b 1], :process 0, :time 7, :position 7, :link nil, :index 6}
{:type :ok, :f :read, :value [x 2], :process 0, :time 8, :position 8, :link nil, :index 7}
{:type :ok, :f :write, :value [f 1], :process 1, :time 9, :position 9, :link nil, :index 8}
{:type :ok, :f :write, :value [x 2], :process 1, :time 10, :position 10, :link nil, :index 9}
{:type :ok, :f :write, :value [c 1], :process 1, :time 11, :position 11, :link nil, :index 10}
{:type :ok, :f :write, :value [f 2], :process 2, :time 12, :position 12, :link nil, :index 11}
{:type :ok, :f :write, :value [z 2], :process 2, :time 13, :position 13, :link nil, :index 12}
{:type :ok, :f :write, :value [x 3], :process 2, :time 14, :position 14, :link nil, :index 13}
{:type :ok, :f :write, :value [a 1], :process 2, :time 15, :position 15, :link nil, :index 14}
{:type :ok, :f :write, :value [z 1], :process 3, :time 16, :position 16, :link nil, :index 15}
{:type :ok, :f :write, :value [y 2], :process 3, :time 17, :position 17, :link nil, :index 16}
{:type :ok, :f :write, :value [x 5], :process 3, :time 18, :position 18, :link nil, :index 17}
{:type :ok, :f :write, :value [b 1], :process 3, :time 19, :position 19, :link nil, :index 18}
